---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sélim Hamza" description="A propos de Sélim Hamza, son parcours et ses compétences">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi"
				tagline="Merci de prendre le temps de découvrir qui je suis et ce que je peux apporter à votre équipe !"
			>
				<img
					width="1553"
					height="873"
					src="/assets/SurLeTerrain.jpg"
					alt="Sélim Hamza sur le terrain."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sélim Hamza</h2>
				<div class="content">
					<p>
						Bienvenue sur ma page ! Je suis actuellement étudiant en <b>3ème année de BUT Informatique</b>, en alternance chez <b>Interiale</b> une mutuelle acteur majeur de la protection sociale dans la fonction publique.<br>
						Je possede une solides experience avec <b>SpringBoot</b> pour le backend , <b>Angular</b> et <b>React</b> pour le frontend. Mon parcours académique et mes projets professionnels m'ont permis de développer une expertise en conception d'applications web modernes, tout en adoptant des architectures évolutives.<br>
					</p>

					<p>	
						Mon objectif à moyen terme est de poursuivre mes études avec un <b>Master MIAGE</b> pour approfondir mes compétences techniques et acquérir des compétences en management. À terme, je vise un poste de <b>Business Analyst</b> un rôle où je pourrai allier mes compétences en développement à une vision stratégique des entreprises.
					</p>

					<p>
						En dehors de ma carrière académique et professionnelle, je suis passionné de <b>sport</b>. J’ai joué au <b>football</b> pendant 12 ans à un niveau régional et national, et je pratique actuellement la <b>musculation</b> Ces expériences m'ont inculqué des valeurs de <b>persévérance</b>, <b>d’esprit d’équipe</b> et de <b>discipline</b>, des qualités que je m’efforce d’appliquer dans mon parcours professionnel.
					</p>

					<p>
						Explorez les onglets suivants pour découvrir mes compétences techniques approfondies et mes réalisations professionnelles.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>
						<b>BUT Informatique, 2ème et 3éme années, parcours Réalisation d'Applications</b> : <a href="https://iut.univ-lille.fr/">IUT A, Villeneuve d'Ascq</a><br>
						<img
							alt="IUT A"
							width="240"
							height="310"
							src="/assets/iutA.png"
						/>
					</p>
					<p>
						<b>BUT Informatique, 1ère année</b> : <a href="https://iutrs.unistra.fr/">IUT Robert Schuman, Strasbourg</a><br>
						<img
							alt="IUT Robert Schuman"
							width="240"
							height="310"
							src="/assets/iutRS.png"
						/>
					</p>
					<p>
						<b>Baccalauréat Scientifique, spécialité Sciences de l'Ingénieur<b> : Mention Bien, <a href="https://lycee-kleber.com.fr/">Lycée Kléber, Strasbourg</a><br>
						<img
							alt="Lycée Kléber"
							width="240"
							height="310"
							src="/assets/kleber.jpg"
						/>
					</p>
				</div>
			</section>
			<section>
				<div class="content">
					<h4 class="section-title">Soft skills</h4>
						<ul id="content-p">
							<li> <b>Rigueur</b> : Appliquée dans chaque projet, que ce soit en développement ou dans la gestion des tâches.<br> </li>
							<li><b>Esprit d’équipe</b> : Travailler en collaboration avec des équipes pluridisciplinaires pour résoudre des problèmes complexes.<br></li>
							<li><b>Gestion du stress</b> : Capacité à gérer les délais serrés tout en maintenant la qualité du travail.<br></li>
							<li><b>Prise d'initiative</b> : Proactif dans la recherche de solutions et la gestion de tâches complexes.</li>
						</ul>
						<br>
	
					<h4 class="section-title">Dev skills</h4>
					<p>
						<img
							alt="SpringBoot"
							width="120"
							height="155"
							src="/assets/springboot.png"
						/>
						<img
							alt="React"
							width="120"
							height="155"
							src="/assets/react.png"
						/>
						<img
							alt="Java"
							width="120"
							height="155"
							src="/assets/java.png"
						/>
						<img
							alt="SQL"
							width="120"
							height="155"
							src="/assets/sql.png"
						/>
						<img
							alt="Architectures hexagonnale"
							width="120"
							height="155"
							src="/assets/hexagone.jpg"
						/>
						<img
							alt="Angular"
							width="120"
							height="155"
							src="/assets/angular.png"
						/>
						
						<img
							alt="nosql"
							width="120"
							height="155"
							src="/assets/nosql.png"
						/>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		/*font-weight: bold;*/
	}

	h4.section-title{
		margin-bottom: 15px;
	}

	
	.content {
		grid-column: 2 / 4;
	}

	.content p{
		text-align: justify;
		line-height: 30px;
		margin-bottom: 30px;
	}

	.content li{
		text-align: justify;
		margin-bottom: 15px;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
