---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Sélim Hamza" description="About Sélim Hamza Background ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi"
				tagline="Merci de prendre le temps de découvrir qui je suis et ce que je peux apporter à votre équipe !"
			>
				<img
					width="1553"
					height="873"
					src="/assets/SurLeTerrain.jpg"
					alt="Sélim Hamza sur le terrain."
				/>
			</Hero>

			<section>
				<h2 class="section-title">Sélim Hamza :</h2>
				<div class="content">
					<p>
						Bienvenue sur ma page ! Je suis actuellement étudiant en deuxième année de BUT informatique.<br>

						Ma première année de formation s'est déroulée à Strasbourg, et je poursuis actuellement mes études à Villeneuve d'Ascq.<br> Passionné par le monde de la programmation, je me consacre particulièrement au langage COBOL, enrichissant mes compétences en parallèle de mon cursus académique.
					</p>
					<p>
						En dehors du monde numérique, je suis passioné de sport qui occupe une place spéciale dans mes centres d'intérêt.J'ai joué au football avec passion au niveau régional et national pendant 12 ans et je pratique actuellement la musculation. <br>Ces expériences sportives m'ont inculqué des valeurs de persévérance, l'esprit d'équipe, de la discipline qui sont des qualités que je m'efforce d'appliquer également dans mon parcours académique et professionnel.
					</p>
					<p>
					
						N'hésitez pas à explorer les onglets suivants pour découvrir mes compétences approfondies et mes réalisations informatiques.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>
						
						BUT informatique 2eme année, parcours réalisation d'applications : <a href="https://iut.univ-lille.fr/">IUT A, Villeneuve d'Ascq</a>
						<br>
						<img
						alt="IUT A"
						width="240"
						height="310"
						src="/assets/iutA.png"
						/>
					</p>
					<p>
						<br>
						BUT informatique 1ere année : <a href="https://iutrs.unistra.fr/">IUT Robert Schuman, Strasbourg</a><br>
						<img
						alt="IUT robert schuman"
						width="240"
						height="310"
						src="/assets/iutRS.png"
						/>
					</p>
					<p>
						<br>
						Baccalaureat scientifique science de l'ingénieur mention bien : <a href="https://lycee-kleber.com.fr/">Lycée Kleber, Strasbourg</a>
						<br>
						<img
						alt="Trunks"
						width="240"
						height="310"
						src="/assets/kleber.jpg"
						/>
					</p>	
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<h3 class="section-title">Soft skills</h3>
						<p>
							-Rigueur <br>
							-Esprit d'equipe <br>
	
						</p>
						<br>
	
						<h3 class="section-title">Dev skills</h3>
						<p>
							<img
							alt="java EE"
							width="120"
							height="155"
							src="/assets/jee.png"
							/>
							<img
							alt="jdbc"
							width="120"
							height="155"
							src="/assets/jdbc.png"
							/>
							<img
							alt="android"
							width="120"
							height="155"
							src="/assets/android.png"
							/>
							<img
							alt="c"
							width="120"
							height="155"
							src="/assets/c.png"
							/>
							<img
							alt="cs"
							width="120"
							height="155"
							src="/assets/cs.png"
							/>
							<img
							alt=".net"
							width="120"
							height="155"
							src="/assets/dotNet.png"
							/>
						</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>


<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
		/*font-weight: bold;*/
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
