---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Mes ambitions</h2>
		<p>Mon objectif est de contribuer activement au développement d'applications web et à la mise en place d'architectures logicielles modernes.</p> 
		<p>Passionné par le développement backend avec <b>SpringBoot</b>, je cherche à approfondir mes compétences en <b>React</b> et <b>Angular</b> pour compléter ma vision full stack. Après mon BUT, je vise à intégrer un <b>Master MIAGE</b> pour devenir <b>Business Analyst</b>, en combinant mes compétences techniques avec une forte capacité à gérer des projets.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Ce qui me distingue</h2>
		<p>Mon parcours dans le <b>football</b> à niveau régional et national m’a permis de développer des valeurs telles que l'<b>esprit d'équipe</b>, le <b>dépassement de soi</b>, et la <b>discipline</b>.</p> <p> Ces qualités m’ont guidé tout au long de mes études et dans mon alternance, où je m'efforce d'appliquer une grande <b>rigueur</b> et un <b>esprit méthodique</b> dans chaque tâche. </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Mon parcours académique</h2>
		<p>Actuellement en <b>3ème année de BUT Informatique</b> à l'IUT A de Villeneuve d'Ascq, je me spécialise dans le développement d'applications avec <b>SpringBoot</b> en backend et <b>React</b> pour le frontend.</p> 
		<p>En alternance chez <b>Interiale</b>, une mutuelle, j'acquiers des compétences pratiques sur des projets concrets, notamment dans le domaine de la gestion des signatures électroniques.</p> 
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
		text-align: justify;
		line-height: 25px;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
